# .dockerignore

# Exclude node_modules directory
node_modules

#Exclude development and build files
.git
.gitignore
.dockerignore

# service account secret key
hardy-nation-412201-b57701317745.json

# Exclude yaml files for K8s configs
kubernetes/