# dependencies
/node_modules

# misc
.DS_Store

# package-lock


# google-cloud items
google-cloud-sdk-289.0.0-darwin-x86_64.tar.gz
google-cloud-sdk

#
.env

# service account secret key
hardy-nation-412201-b57701317745.json
optikubesvcaccount.json